* {
  box-sizing: border-box;
}

// body layout
.body-container {
  font-family: 'Ruluko';

  // dimension
  width: 100vw;
  height: 100vh;

  // background
  background: linear-gradient(#ffffff4d 0%, #353e48 60%), url(../assets/bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: scroll;

   // flex layout
   display: flex;
   flex-flow: column;
}


// header
header {
  grid-area: header;
  position: fixed;
  width: 100vw;
  height: 60px;

  // display
  display: flex;
  align-items: center;

  .logo {
    background: url(../assets/logo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 70px;
    height: 50px;
    margin-left: 10px;
  }

  .logo:hover {
    cursor: pointer;
    animation: rotateLogo 2s infinite;
  }

  nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-right: 10px;

    button {
      background: none;
      border: none;
      cursor: pointer;
      display: none;

      i {
        font-size: 22px;
      }
    }

    button:hover {
      color: #0cb9e2;
    }

    a {
      text-decoration: none;
      color: #000000;
      padding: 0.5em 1em 0.5em 1em; //top right bottom left
      font-size: 18px;
      position: relative;
      transition: 0.3s;
    }

    a:active {
      color: #0cb9e2;
    }

    a:hover {
      transform: scale(1.1);
      color: #0cb9e2;
    }

    a:hover:after {
      content: '';
      background: #0cb9e2;
      width: 100%;
      position: absolute;
      height: 3px;
      bottom: 0;
      right: 0;
    }
  }
}


// filler space to fill the header
.filler {
  height: 60px;
}

// side navigation
aside {
  grid-area: sidebar;

  background: #e0e2d2;
  position: absolute;
  top: -100%;
  left: 100%;  
  transform: translate(-100%, 0%);
  height: 100vh;
  z-index: 3;
  transition: 0.3s ease-in-out;

  button {
    align-self: flex-end;

    background: none;
    border: none;
    cursor: pointer;
    margin: 17px 10px 17px 0px; //top right bottom left

    i {
      font-size: 22px;
    }
  }

  button:hover {
    color: #0cb9e2;
  }

  nav {
    display: flex;
    flex-flow: column;
    font-size: 22px;

    a {
      text-decoration: none;
      color: #000000;
      position: relative;
      transition: 0.3s;
      margin: 0px 40px 0px 20px; //top right bottom left
    }

    a:hover {
      transform: scale(1.1);
      color: #0cb9e2;
    }

    a:hover:after {
      content: '';
      background: #0cb9e2;
      width: 100%;
      position: absolute;
      height: 3px;
      bottom: 0;
      right: 0;
    }
  }
}

.show-aside {
  transform: translate(-100%, 100%);
}


// main content
main {
  flex: 3;

}


// footer
footer {
  flex: 1;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;

  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    a {
      text-decoration: none;
      color: #000000;
      padding: 0.5em 1em 0.5em 1em;
      font-size: 20px;
      transition: 0.3s;
      overflow: hidden;
      position: relative;
      transition: 0.3s;
    }

    a:hover {
      color: #ffffff;
      transform: scale(1.1);
    }

    a::before {
      content: '';
      background: #0cb9e2;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      top: 100%;
      left: 0%;
    }
    a:hover:before {
      animation: hover 0.7s 1;
      top: 0%;
    }
  }
}

@keyframes hover {
  50% {
    top: 50%;
  }
  100% {
    top: 0%;
  }
}

@keyframes rotateLogo {
  to {
    transform: rotate(360deg);
  }
}







// responsive
// small screen less than 768px
@media only screen and (max-width: 768px) {
  header {
    .logo {
      transform: scale(0.8);
    }

    nav {
      button {
        display: inline-block;
      }

      a {
        display: none;
      }
    }
  }


  footer {
    nav {
      a {
        font-size: 14px;
      }
    }
  }
}

// small screen less than 368px
@media only screen and (max-width: 368px) {
  footer {
    nav {
      a {
        font-size: 12px;
      }
    }
  }
}

