<div class="body-container">
  <header>
    <div class="logo"></div>
    <nav class="menu-header">
      <button (click)="sideBar(true)"><i class="fas fa-bars"></i></button>
      <a href="#">Me</a>
      <a href="#">Resume</a>
      <a href="#">Contact</a>
      <a href="#">Resources</a>
      <a href="#">Blogs</a>
    </nav>
  </header>
  <div class="filler"></div>
  <aside [ngClass]="{'show-aside': displaySideBar}" >
    <nav class="menu-side">
      <button (click)="sideBar(false)"><i class="fas fa-times"></i></button>
      <a href="#">Me</a>
      <a href="#">Resume</a>
      <a href="#">Contact</a>
      <a href="#">Resources</a>
      <a href="#">Blogs</a>
    </nav>
  </aside>
  <main>
    <!-- <app-main-content></app-main-content> -->
    <router-outlet></router-outlet>
  </main>
  <footer>
    <nav>
      <a href="#"><i class="fab fa-github"></i> Github</a>
      <a href="#"><i class="fab fa-twitter"></i> Twitter</a>
      <a href="#"><i class="fab fa-linkedin-in"></i> Linkedin</a>
      <a href="#"><i class="fab fa-instagram"></i> Instagram</a>
    </nav>
  </footer>
</div>
